@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scrollbar-track-color: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
	--bg-checker: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');
	--bg-checker-color: #fff;
	--font-code: 'SF Mono', monospace;
}

html.dark {
	--scrollbar-track-color: rgba(255, 255, 255, 0.05);
	--scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
	--bg-checker-color: #555;
}

*::-webkit-scrollbar {
	width: 7px;
}
*::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}
*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	/* height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none; */
}

html {
	font-size: 14px;
}

body {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-title font-semibold;
}

p,
span,
i,
b,
s {
	@apply text-desc;
}

.react-split__sash {
	@apply !z-50;
}
/* Style color monaco editor */
[data-mode-id='javascript'] .monaco-editor .mtk1,
[data-mode-id='javascript'] .monaco-editor .attr-name {
	color: #8ad3ff;
}

[data-mode-id='javascript'] .monaco-editor .mtk1.tag,
[data-mode-id='javascript'] .monaco-editor .mtk1.start-tag-name,
[data-mode-id='javascript'] .monaco-editor .mtk1.end-tag-name {
	color: #569cd6;
}

[data-mode-id='javascript'] .monaco-editor .mtk22.tag,
[data-mode-id='javascript'] .monaco-editor .mtk22.start-tag-name,
[data-mode-id='javascript'] .monaco-editor .mtk22.end-tag-name {
	color: #3dc1a0;
}

[data-mode-id='javascript'] .monaco-editor .mtk9.tag,
[data-mode-id='javascript'] .monaco-editor .tag-start,
[data-mode-id='javascript'] .monaco-editor .tag-end,
[data-mode-id='javascript'] .monaco-editor .end-tag-start,
[data-mode-id='javascript'] .monaco-editor .end-tag-end {
	color: #6d6d6d;
}

[data-mode-id='javascript'] .monaco-editor .as-keyword,
[data-mode-id='javascript'] .monaco-editor .await-keyword,
[data-mode-id='javascript'] .monaco-editor .catch-keyword,
[data-mode-id='javascript'] .monaco-editor .default-keyword,
[data-mode-id='javascript'] .monaco-editor .else-keyword,
[data-mode-id='javascript'] .monaco-editor .export-keyword,
[data-mode-id='javascript'] .monaco-editor .from-keyword,
[data-mode-id='javascript'] .monaco-editor .if-keyword,
[data-mode-id='javascript'] .monaco-editor .import-keyword,
[data-mode-id='javascript'] .monaco-editor .return-keyword,
[data-mode-id='javascript'] .monaco-editor .static-keyword,
[data-mode-id='javascript'] .monaco-editor .try-keyword {
	color: #b86cb4;
}

[data-mode-id='javascript'] .monaco-editor .regex {
	color: #d16969;
}
[data-mode-id='javascript'] .monaco-editor .function,
[data-mode-id='javascript'] .monaco-editor .function-variable {
	color: #d4d797;
}

[data-mode-id='javascript'] .monaco-editor .class-name,
[data-mode-id='javascript'] .monaco-editor .builtin,
[data-mode-id='javascript'] .monaco-editor .globals {
	color: #3dc1a0;
}
[data-mode-id='javascript'] .monaco-editor .arrow-operator,
[data-mode-id='javascript'] .monaco-editor .jsx-exp-start,
[data-mode-id='javascript'] .monaco-editor .jsx-exp-end {
	color: #569cd6;
}

[data-mode-id='javascript'] .monaco-editor .jsx-text,
[data-mode-id='javascript'] .monaco-editor .plain-text {
	color: #d4d4d4;
}

:root {
	--string-color: #ce9178;
	--language-keyword-color: #619ac3;
	--global-variable-color: #569cd6;
	--unused-opacity: 0.4;
	--normal-text-color: #fffef8;
	--grammar-color: #57c3c2;
	--jsx-tag-symbol-color: var(--language-keyword-color);
	--jsx-tag-color: var(--global-variable-color);
	--jsx-attribute-color: #8ad3ff;
	--jsx-text-color: #d4d4d4;
}

.App {
	font-family: sans-serif;
	text-align: center;
}

.parent.show:hover .child {
	display: flex;
}

.parent.show .child {
	display: none;
}

/* Style xterm */
.xterm {
	height: 100%;
	cursor: text;
	position: relative;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
	outline: none;
}

.xterm .xterm-helpers {
	position: absolute;
	top: 0;
	/**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
	z-index: 5;
}

.xterm .xterm-helper-textarea {
	padding: 0;
	border: 0;
	margin: 0;
	/* Move textarea out of the screen to the far left, so that the cursor is not visible */
	position: absolute;
	opacity: 0;
	left: -9999em;
	top: 0;
	width: 0;
	height: 0;
	z-index: -5;
	/** Prevent wrapping so the IME appears against the textarea at the correct position */
	white-space: nowrap;
	overflow: hidden;
	resize: none;
}

.xterm .composition-view {
	/* TODO: Composition position got messed up somewhere */
	background: #000;
	color: #fff;
	display: none;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
}

.xterm .composition-view.active {
	display: block;
}

.xterm .xterm-viewport {
	/* On OS X this is required in order for the scroll bar to appear fully opaque */
	background-color: transparent !important;
	overflow-y: auto;
	cursor: default;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.xterm .xterm-screen {
	position: relative;
	height: 100%;
}

.xterm .xterm-screen canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.xterm .xterm-scroll-area {
	visibility: hidden;
}

.xterm-char-measure-element {
	display: inline-block;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: -9999em;
	line-height: normal;
}

.xterm.enable-mouse-events {
	/* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
	cursor: default;
}

.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
	cursor: pointer;
}

.xterm.column-select.focus {
	/* Column selection mode */
	cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	color: transparent;
}

.xterm .live-region {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.xterm-dim {
	opacity: 0.5;
}

.xterm-underline-1 {
	text-decoration: underline;
}
.xterm-underline-2 {
	text-decoration: double underline;
}
.xterm-underline-3 {
	text-decoration: wavy underline;
}
.xterm-underline-4 {
	text-decoration: dotted underline;
}
.xterm-underline-5 {
	text-decoration: dashed underline;
}

.xterm-strikethrough {
	text-decoration: line-through;
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
	z-index: 6;
	position: absolute;
}

.xterm-decoration-overview-ruler {
	z-index: 7;
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
}

.xterm-decoration-top {
	z-index: 2;
	position: relative;
}

/* Dependency */
.dependencies-scrollbar .os-scrollbar-horizontal,
.navigation-scrollbar .os-scrollbar-horizontal {
	padding: 0;
	height: 4px;
	transition: height 0.2s ease-in-out;
}

.dependencies-scrollbar .os-scrollbar .os-scrollbar-handle,
.navigation-scrollbar .os-scrollbar .os-scrollbar-handle {
	border-radius: 0;
}

.navigation-scrollbar .os-scrollbar:hover {
	height: 8px;
}

.os-theme-dark {
	--os-handle-bg: #434343;
}

.os-scrollbar .os-scrollbar-handle:hover {
	background-color: #4d4d4d;
}
